/**
 * This is CSS based on the jquery.tabs.css, but applied to the 
 * Geo Mashup tabbed category index control.
 */

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .gm-hidden {
        display: none !important;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .gm-tabs-nav {
        display: none;
    }
}

/* Skin */
.gm-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 3px;
}
.gm-tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.gm-tabs-nav li {
    float: left;
    margin: 0 0 0 2px;
}
.gm-tabs-nav a, .gm-tabs-nav a span {
    float: left; /* fixes dir=ltr problem and other quirks IE */
    padding: 0 12px;
}
.gm-tabs-nav a {
    margin: 5px 0 0; /* position: relative makes opacity fail for disabled tab in IE */
    padding-left: 0;
    text-decoration: none;
    white-space: nowrap; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */    
		background-color: #aaa;
}
.gm-tabs-nav a img {
	float: left;
}
.gm-tabs-nav a:link, .gm-tabs-nav a:visited {
}
.gm-tabs-nav .gm-tab-active a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
		background-color: #fff;
}
.gm-tabs-nav a span {
    padding-top: 1px;
    padding-right: 0;
    height: 29px;
    line-height: 29px;
}
.gm-tabs-nav .gm-tab-active a span {
    padding-top: 0;
    height: 32px;
    line-height: 32px;
}
.gm-tabs-nav .gm-tab-active a:link, .gm-tabs-nav .gm-tabs-selected a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
    text-decoration: none;
}
.gm-tabs-nav a:hover, .gm-tabs-nav a:focus, .gm-tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
    text-decoration: none;
}
.gm-index-panel {
    padding: 10px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
/* Additional IE specific bug fixes... */
* html .gm-tabs-nav { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .gm-tabs-nav  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}
