services:
  yarn:
    image: geo-mashup-dev-install
    volumes:
      - ..:/app
      - geo-mashup-test-support:/tmp
    env_file:
      - .yarn.env
    working_dir: /app
    entrypoint: yarn

volumes:
  geo-mashup-test-support:
